.question {
  .question-content {
    * {
      vertical-align: middle;
      display: inline-block;
      margin: 0;
    }
    h1 {
      margin-right: 12px;
    }
    h5 {
      max-width: calc(100% - 48px);
    }
  }
}
