<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="toolbar-title">
      <img src="/assets/img/logo.png" class="title-logo">
      <span class="title-text">Encuesta (Paso 1/2)</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="0"
               size-md="8" offset-md="2"
               size-xl="6" offset-xl="3"
               padding class="ion-text-justify">
        <p>
          Lee cada frase y selecciona la opción "Verdadero" o "Falso", según te parezca que, aplicadas a ti, son verdaderas o falsas.
        </p>
        <p>
          La opción "Ni Verdadero, Ni Falso", está reservada a las frases que no consideras ni
          verdaderas ni falsas, o para las que no sabes –o no puedes- responder (por ejemplo, si tu
          vivencia con cada uno de los padres es tan diferente que no puedes responder de manera
          global).
        </p>
      </ion-col>
      <ion-col size="12" offset="0"
               size-md="8" offset-md="2"
               size-xl="6" offset-xl="3"
               padding>
        <div class="question ion-padding-vertical" *ngFor="let item of quizItems">
          <div class="question-content">
            <ion-text color="primary">
              <h1>{{item.id}}</h1>
            </ion-text>
            <h5>{{item.text}}</h5>
          </div>
          <div class="question-options">
            <ion-list>
              <ion-radio-group [(ngModel)]="item.answer">
                <ion-item *ngFor="let option of quizOptions">
                  <ion-label [color]="(submitted && item.answer === undefined) ? 'danger' : 'dark'">{{option.text}}</ion-label>
                  <ion-radio slot="end" [value]="option" [name]="'item-' + item.id"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </div>
        <ion-button fill="clear" class="ion-float-right" (click)="nextStep()">
          Siguiente
          <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!environment.production">
    <ion-fab-button (click)="createDummyData()">
      <ion-icon name="shuffle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
