<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="toolbar-title">
      <img src="/assets/img/logo.png" class="title-logo">
      <span class="title-text">Finalizado</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" text-center>
        <h1>¡Gracias por participar!</h1>
        <img src="https://tinyurl.com/y2tj6fdh" alt="" class="heart ion-margin-top">
        <p>Si te interesa saber más sobre este proceso siguenos en <a href="https://twitter.com/DPaApps" target="_blank">@DPaApps</a></p>
        <ion-button color="primary" routerLink="/">Regresar al inicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
